<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
	layout:decorate="~{layout/base}">
<head>

<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
	
</script>



</head>
<body>
	<div layout:fragment="content" class="container-fluid py-5 px-3">

		<div
			th:replace="~{fragments/breadcrumbs :: breadcrumbs(${breadcrumbs})}"></div>

		<div class="card shadow-lg border-0 rounded-4 p-4">




			<!-- Título -->
			<h3 class="text-center mb-4 fw-bold">
				<i class="bi bi-buildings me-2 text-gradient-primary"></i> <span
					th:text="#{page.title.privado.instalacion}"> </span>
			</h3>

			<div th:if="${form.id != null and form.id > 0}">
				<div
					th:replace="~{fragments/instalacion-tabs :: tabs(${form.id}, 'info')}"></div>
			</div>



			<div class="card border-0 shadow-sm rounded-4 p-4 p-md-5 bg-white">
				<form th:action="@{/privado/instalacion/guardar}"
					th:object="${form}" th:csrf="true" method="post"
					enctype="multipart/form-data" class="row g-4">

					<input type="hidden" th:field="*{id}" />


					<div class="col-md-4">
						<label for="selectEmpresa"
							class="form-label fw-semibold text-secondary"> <i
							class="bi bi-geo-alt me-1 text-primary"></i> <span
							th:text="#{instalacion.form.empresa}">Empresa </span> <span
							class="text-danger">*</span>
						</label> <select id="selectEmpresa" class="form-select rounded-3 py-2"
							required th:field="*{empresaId}"
							onchange="cargarDatos(this.value, '/api/sede/list/instalacion', 'selectSede');">
							<option th:each="c : ${listEmpresas}" th:value="${c.id}"
								th:text="${c.nombre}"></option>
						</select>
					</div>

					<div class="col-md-4">
						<label for="selectProvincia"
							class="form-label fw-semibold text-secondary"> <i
							class="bi bi-map me-1 text-primary"></i> <span
							th:text="#{instalacion.form.sede}">Sede</span> <span
							class="text-danger">*</span>
						</label> <select id="selectSede" class="form-select rounded-3 py-2"
							required th:field="*{sedeId}">
							<option value=""></option>
							<option th:each="p : ${listSedes}" th:value="${p.id}"
								th:text="${p.nombre}"></option>
						</select>
					</div>

					<div class="col-md-4">
						<label for="selectInstalacionTipo"
							class="form-label fw-semibold text-secondary"> <i
							class="bi bi-card-heading me-1 text-primary"></i> <span
							th:text="#{instalacion.form.tipo.instalacion}">Instalacion
								tipo</span> <span class="text-danger">*</span>
						</label> <select id="selectInstalacionTipo"
							class="form-select rounded-3 py-2" required
							th:field="*{instalacionTipoId}">
							<option th:each="p : ${listInstalacionTipo}" th:value="${p.id}"
								th:text="${p.nombre}"></option>
						</select>
					</div>


					<div class="col-md-4">
						<label for="nombre" class="form-label fw-semibold text-secondary">
							<i class="bi bi-building me-1 text-primary"></i> <span
							th:text="#{instalacion.form.nombre}">Nombre instalacion</span> <span
							class="text-danger">*</span>
						</label> <input type="text" th:field="*{nombre}" id="nombre" required
							class="form-control rounded-3 py-2"
							th:placeholder="#{instalacion.form.nombre}" maxlength="255">
						<div class="text-danger small mt-1"
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>






					<div class="col-12">
						<label for="descripcion"
							class="form-label fw-semibold text-secondary"> <i
							class="bi bi-text-paragraph me-1 text-primary"></i> <span
							th:text="#{instalacion.form.descripcion}">Descripción</span>
						</label>
						<textarea th:field="*{descripcion}" id="descripcion"
							class="form-control rounded-3"
							th:placeholder="#{instalacion.form.descripcion}" maxlength="1250"
							rows="4" style="resize: vertical;"></textarea>
						<div class="text-danger small mt-1"
							th:if="${#fields.hasErrors('descripcion')}"
							th:errors="*{descripcion}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>

					<div
						class="col-12 d-grid d-md-flex justify-content-md-end gap-3 mt-4">
						<a th:href="@{/privado/instalacion}"
							class="btn btn-outline-secondary rounded-3 px-4 py-2 d-inline-flex align-items-center justify-content-center fw-semibold">
							<i class="bi bi-x-lg me-2"></i> <span th:text="#{boton.cancelar}">Cancelar</span>
						</a>

						<button type="submit"
							class="btn btn-moderno-guardar px-5 py-2 fw-semibold">
							<i class="bi bi-check-circle-fill me-2"></i> <span
								th:text="#{boton.guardar}">Guardar</span>
						</button>
					</div>

				</form>
			</div>






		</div>
	</div>
</body>
</html>
