<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
	layout:decorate="~{layout/base}">
<head>

<style>
</style>
</head>
<body>
	<div layout:fragment="content" class="container-fluid py-5 px-3">
		<div
			class="card shadow-lg p-4 rounded-4 animate__animated animate__fadeIn col-12 col-md-8 col-lg-6 mx-auto">

			<!-- Título -->
			<h3 class="text-center mb-4 fw-bold">
				<i class="bi bi-person-fill me-2 text-gradient-primary"></i> <span
					th:text="#{page.title.privado.maestra.sexo}">Crear Grupo</span>
			</h3>

			<!-- Formulario -->
			<div class="card border-0 p-4">
				<form th:action="@{/privado/maestra/sexo/guardar}"
					th:object="${form}" th:csrf="true" method="post" class="row g-3">

					<input type="hidden" th:field="*{id}" />

					<!-- Campo Nombre -->
					<div class="col-12">
						<label for="nombre" class="form-label fw-semibold"> <i
							class="bi bi-tag me-1"></i> <span th:text="#{sexo.form.nombre}">Nombre</span>
							<span class="text-danger">*</span>
						</label> <input type="text" th:field="*{nombre}" id="nombre"
							maxlength="255" class="form-control rounded-3"
							th:placeholder="#{sexo.form.nombre}" required autofocus>
						<div class="text-danger mt-1"
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>


					<!-- Botones -->
					<div class="col-12 d-flex justify-content-end gap-2 mt-3 flex-wrap">
						<!-- Cancelar -->
						<a th:href="@{/privado/maestra/sexo}"
							class="btn btn-outline-danger rounded-pill shadow-sm px-4 py-2 d-flex align-items-center gap-2 hover-scale">
							<i class="bi bi-arrow-left"></i> <span th:text="#{boton.volver}">Volver</span>
						</a>

						<!-- Guardar -->
						<button type="submit"
							class="btn btn-primary rounded-pill shadow-lg px-5 py-2 d-flex align-items-center gap-2 hover-scale">
							<i class="bi bi-save fs-5"></i> <span th:text="#{boton.guardar}">Guardar</span>
						</button>
					</div>

				</form>
			</div>

		</div>
	</div>
</body>
</html>
