<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
	layout:decorate="~{layout/base}">
<head>

<script>
	
</script>

<style>
</style>
</head>
<body>
	<div layout:fragment="content" class="container-fluid py-5 px-3">


		<div th:replace="~{fragments/perfilTabs :: perfilTabs('info')}"></div>
		<div class="card shadow-lg border-0 rounded-4 p-4">

			<!-- Título -->
			<h3 class="text-center mb-4 fw-bold">
				<i class="bi bi-person-circle me-2 text-gradient-primary"></i> <span
					th:text="#{mi.perfil.informacion.de.su.cuenta}"> </span>
			</h3>

			<!-- Formulario -->
			<div class="card border-0 p-4">
				<form th:action="@{/privado/usuario/miperfil/guardar}"
					th:object="${form}" th:csrf="true" method="post" class="row g-3">

					<input type="hidden" th:field="*{id}" />

					<div class="col-12 col-md-4 mb-3">
						<label for="nombre" class="form-label fw-semibold"> <i
							class="bi bi-journal-text me-1"></i> <span
							th:text="#{mi.perfil.form.nombre}">nombre</span> <span
							class="text-danger">*</span>
						</label> <input type="text" th:field="*{nombre}" id="nombre" required
							class="form-control rounded-3"
							th:placeholder="#{mi.perfil.form.nombre}" maxlength="255">
						<div class="text-danger mt-1"
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>

					<div class="col-12 col-md-4 mb-3">
						<label for="email" class="form-label fw-semibold"> <i
							class="bi bi-mailbox me-1"></i> <span
							th:text="#{mi.perfil.form.email}">Email </span> <span
							class="text-danger">*</span>
						</label> <input type="email" th:field="*{email}" id="email" required
							class="form-control rounded-3"
							th:placeholder="#{mi.perfil.form.email}" maxlength="255">
						<div class="text-danger mt-1"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>

					<div class="col-12 col-md-4 mb-3">
						<label for="emailConfirmar" class="form-label fw-semibold">
							<i class="bi bi-mailbox2 me-1"></i> <span
							th:text="#{mi.perfil.form.email.confirmar}">Email </span> <span
							class="text-danger">*</span>
						</label> <input type="email" th:field="*{emailConfirmar}"
							id="emailConfirmar" required class="form-control rounded-3"
							th:placeholder="#{mi.perfil.form.email.confirmar}"
							maxlength="255">
						<div class="text-danger mt-1"
							th:if="${#fields.hasErrors('emailConfirmar')}"
							th:errors="*{emailConfirmar}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>

					<div class="col-12 col-md-4 mb-3">
						<label class="form-label text-muted fw-semibold"
							th:text="#{mi.perfil.form.fecha.alta}"></label>
						<div>
							<p class="form-control-plaintext fw-bold"
								th:text="${#dates.format(form.fechaAlta, 'dd/MM/yyyy')}"></p>
						</div>
					</div>

					<div class="col-12 d-grid d-md-flex justify-content-md-end mt-4">
						<button type="submit" class="btn btn-moderno-guardar">
							<i class="bi bi-check-circle-fill me-2"></i> <span
								th:text="#{boton.guardar}">Guardar Cambios</span>
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>
