<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
	layout:decorate="~{layout/base}">
<head>

<script>
	
</script>

<style>
</style>
</head>
<body>
	<div layout:fragment="content" class="container-fluid py-5 px-3">


		<div th:replace="~{fragments/perfilTabs :: perfilTabs('password')}"></div>
		<div class="card shadow-lg border-0 rounded-4 p-4">

			<!-- Título -->
			<h3 class="text-center mb-4 fw-bold">
				<i class="bi bi-person-circle me-2 text-gradient-primary"></i> <span
					th:text="#{mi.perfil.informacion.de.su.cuenta}"> </span>
			</h3>

			<!-- Formulario -->
			<div class="card border-0 p-4">
				<form th:action="@{/privado/usuario/miperfil/password/guardar}"
					th:object="${form}" th:csrf="true" method="post" class="row g-3">

					<input type="hidden" th:field="*{id}" />

					<div class="col-12 col-md-4 mb-3">
						<label for="passwordActual" class="form-label fw-semibold">
							<i class="bi bi-key me-1"></i> <span
							th:text="#{mi.perfil.form.password.actual}">passwordActual</span>
							<span class="text-danger">*</span>
						</label> <input type="password" th:field="*{passwordActual}"
							id="passwordActual" required class="form-control rounded-3"
							maxlength="255">
						<div class="text-danger mt-1"
							th:if="${#fields.hasErrors('passwordActual')}"
							th:errors="*{passwordActual}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>

					<div class="col-12 col-md-4 mb-3">

						<label for="email" class="form-label fw-semibold"> <i
							class="bi bi-key-fill me-1"></i> <span
							th:text="#{mi.perfil.form.password.nueva}">Password</span> <span
							class="text-danger">*</span>

						</label>
						<div
							th:replace="~{fragments/componentes :: info-tooltip('mi.perfil.form.password.nueva.info')}"></div>
						<input type="password" th:field="*{password}" id="password"
							required class="form-control rounded-3" maxlength="255">

						<div class="text-danger mt-1"
							th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>

					<div class="col-12 col-md-4 mb-3">
						<label for="passwordConfirmar" class="form-label fw-semibold">
							<i class="bi bi-key-fill me-1"></i> <span
							th:text="#{mi.perfil.form.password.nueva.confirmar}">password
						</span> <span class="text-danger">*</span>
						</label> <input type="password" th:field="*{passwordConfirmar}"
							id="passwordConfirmar" required class="form-control rounded-3"
							maxlength="255">
						<div class="text-danger mt-1"
							th:if="${#fields.hasErrors('passwordConfirmar')}"
							th:errors="*{passwordConfirmar}">
							<i class="bi bi-exclamation-circle me-1"></i> Error
						</div>
					</div>


					<div class="col-12 d-grid d-md-flex justify-content-md-end mt-4">
						<button type="submit" class="btn btn-moderno-guardar">
							<i class="bi bi-check-circle-fill me-2"></i> <span
								th:text="#{boton.guardar}">Guardar Cambios</span>
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>
