<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.transition-all {
	transition: all 0.2s ease-in-out;
}

.nav-link:hover {
	color: var(--bs-primary) !important;
}
</style>
</head>

<body>

	<div th:fragment="tabs(id, activeTab)" class="mb-4">
		<div class="d-flex flex-wrap bg-light p-1 rounded-4 border w-100">

			<div
				th:with="baseClass='nav-link px-3 py-2 rounded-3 text-decoration-none fw-semibold transition-all d-flex align-items-center justify-content-center'"
				class="d-flex flex-row w-100">

				<a th:href="@{/privado/empleado/{id}/editar(id=${id})}"
					th:classappend="${activeTab == 'info' ? 'bg-white text-primary shadow-sm' : 'text-secondary'}"
					th:class="${baseClass}"> <i class="bi bi-info-circle me-1"></i><span
					class="d-none d-sm-inline" th:text="#{empleado.tab.info}">Info</span>
				</a> <a th:href="@{/privado/empleado/{id}/rol(id=${id})}"
					th:classappend="${activeTab == 'rol' ? 'bg-white text-primary shadow-sm' : 'text-secondary'}"
					th:class="${baseClass}"> <i class="bi bi-shield me-1"></i><span
					class="d-none d-sm-inline" th:text="#{empleado.tab.rol}">rol</span>
				</a>
			</div>
		</div>
	</div>



</body>
</html>