<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<style>
</style>


</head>
<body>

	<div th:fragment="libroTabs (activeTab, idLibro)">
		<div th:if="${idLibro != null}">
			<ul class="nav folder-tabs" id="libroTabs" role="tablist"
				style="margin-bottom: 0px">


				<!-- Información -->
				<li class="nav-item" role="presentation"><a
					class="nav-link folder-tab"
					th:classappend="${#strings.equalsIgnoreCase(activeTab, 'info')} ? ' active' : ''"
					id="info-tab" th:href="@{'/privado/libro/'+${idLibro}+'/editar'}"
					role="tab" aria-controls="info"
					th:attr="aria-selected=${activeTab} == 'info' ? 'true' : 'false'">
						<i class="bi bi-info-circle me-2"></i> <span
						th:text="#{libro.tab.informacion}">Información</span>
				</a></li>

				<!-- Autor -->
				<li class="nav-item" role="presentation"><a
					class="nav-link folder-tab"
					th:classappend="${activeTab} == 'autor' ? ' active' : ''"
					id="equip-tab" th:href="@{'/privado/libro/'+${idLibro}+'/autor'}"
					role="tab" aria-controls="valoracion"
					th:attr="aria-selected=${activeTab} == 'autor' ? 'true' : 'false'">
						<i class="bi bi-pencil me-2"></i> <span
						th:text="#{libro.tab.autores}"></span>
				</a></li>




			</ul>
		</div>
	</div>

</body>
</html>