<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<style>
</style>


</head>
<body>

	<div th:fragment="perfilTabs (activeTab)">
		<div>
			<ul class="nav folder-tabs" id="perfilTabs" role="tablist"
				style="margin-bottom: 0px">

				<!-- Información -->
				<li class="nav-item" role="presentation"><a
					class="nav-link folder-tab"
					th:classappend="${#strings.equalsIgnoreCase(activeTab, 'info')} ? ' active' : ''"
					id="info-tab" th:href="@{/privado/usuario/miperfil}" role="tab"
					aria-controls="info"
					th:attr="aria-selected=${activeTab} == 'info' ? 'true' : 'false'">
						<i class="bi bi-info-circle me-2"></i> <span
						th:text="#{mi.perfil.tab.informacion}">Información</span>
				</a></li>

				<!-- Password -->
				<li class="nav-item" role="presentation"><a
					class="nav-link folder-tab"
					th:classappend="${activeTab} == 'password' ? ' active' : ''"
					id="equip-tab" th:href="@{/privado/usuario/miperfil/password}" role="tab"
					aria-controls="valoracion"
					th:attr="aria-selected=${activeTab} == 'password' ? 'true' : 'false'">
						<i class="bi bi-key me-2"></i> <span
						th:text="#{mi.perfil.tab.password}"></span>
				</a></li>
			</ul>
		</div>
	</div>

</body>
</html>