<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
	layout:decorate="~{layout/base}">
<body>
	<div layout:fragment="content"
		class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light">

		<div class="card shadow-sm border-0 rounded-4 p-4 p-md-5"
			style="width: 100%; max-width: 400px;">
			<div class="text-center mb-4">
				<h3 class="fw-bold text-primary" th:text="#{login.iniciar.sesion}">Iniciar
					Sesión</h3>
			</div>

			<form th:action="@{/login}" method="post">
				<div class="form-floating mb-3">
					<input type="email" id="username" name="username"
						class="form-control" placeholder="name@example.com" required
						autofocus> <label for="username"><i
						class="bi bi-envelope me-2"></i>Email</label>
				</div>

				<div class="form-floating mb-3">
					<input type="password" id="password" name="password"
						class="form-control" placeholder="Password" required> <label
						for="password"><i class="bi bi-lock me-2"></i>Contraseña</label>
				</div>

				<div th:if="${param.error}"
					class="alert alert-danger py-2 small text-center">Usuario o
					contraseña incorrectos.</div>

				<button type="submit"
					class="btn btn-primary btn-lg w-100 fw-bold shadow-sm mb-4">
					<span th:text="#{boton.iniciar.sesion}">Iniciar Sesión</span>
				</button>

				<div class="text-center">
					<div class="mb-2">
						<span class="text-secondary small"
							th:text="#{login.no.registrado.usuario}">¿No tienes
							cuenta? </span> <a th:href="@{/publico/registro/usuario}"
							class="text-decoration-none fw-bold"
							th:text="#{login.no.registrado.enlace.registro.usuario}">Regístrate
							aquí</a>
					</div>
					<div class="mb-3">
						<span class="text-secondary small"
							th:text="#{login.no.registrado.empresa}">¿Eres empresa? </span> <a
							th:href="@{/publico/registro/empresa}"
							class="text-decoration-none fw-bold"
							th:text="#{login.no.registrado.enlace.registro.empresa}">Regístrate
							aquí</a>
					</div>
					<hr class="my-3">
					<a th:href="@{/publico/password}"
						class="text-decoration-none small text-muted"
						th:text="#{login.no.password.olvidada}">¿Olvidaste tu
						contraseña?</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>